<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="cn.fenix.ry.dao.ContactsDao">
    <insert id="saveContact"
        parameterType="cn.fenix.ry.entity.Contact">
        insert into contacts
            (
             contactsId,      
   			 clientId,           
  			 contacts,
   			 station,
   			 manage,
   			 telephone,
  			 palneNumber,
             email)
        values
            (#{contactsId}, #{clientId}, #{ contacts},
            #{station},#{manage},#{telephone},#{palneNumber},#{email})
    </insert>
    <select id="findContactById" resultType="cn.fenix.ry.entity.Contact">
    	select 
    	 	 contactsId,      
   			 clientId,           
  			 contacts,
   			 station,
   			 manage,
   			 telephone,
  			 palneNumber,
             email
    	 from 
    		 contacts
    	 where 
    	 	 contactsId=#{id};
    </select>
</mapper>