@charset "utf-8";
/*设置新增、修改表单的样式*/
.lazy-orderInfo .ftitle{
	font-size: 2em;
	text-align: center;
	line-height: 2em;
	margin: 10px;
}
.lazy-orderInfo #fm .fitem{
	margin:5px 10px;
	font-size: 1.5em;
	text-align: center;
	line-height: 1.5em;
}

.lazy-orderInfo #fm .fitem label{
	display: inline-block;
	width:180px;
	text-align: right;
	padding-right: 20px;
}
.lazy-orderInfo #fm .fitem input{
	width:340px;
	text-align: left;
}
#infoSubmit{
	width:500px;
	margin:10px auto;
}

#infoSubmit .easyui-linkbutton{
	font-size: 1.5em;
	width:200px;
	text-align: center;
	margin:0 20px;
}


/*设置数据网格菜单栏最小宽度，防止窗口太小时搜索框错位*/
#toolbar{
    min-width: 850px;
}

#searchBox {
	float:right;
	width:400px;
}

#searchBox input{
	width:300px;
}

#selectList{
	width:100px;
}


/*针对easyUI渲染后的页面做的样式*/
.panel-tool a {
    margin-right: 20px;
}

.dialog-layout {
    bottom: 20px;
    width: 650px;
    max-height: 680px;
    overflow-y: auto;
}

/* 隐藏不需要用户输入的输入框 */
.hidden {
	display: none;
}

/*在表格加载前使body不可见，避免展示出无样式的表单*/
.invisible{
    visibility: hidden;
}

/*居中遮罩层，兼容IE8、IE8+*/
.mask{
    position: absolute;
    top: 0;
      left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    background: #fff;
}
.mask p{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    line-height: 100px;
    height: 100px;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    background: #fff;
}
